body{
    font-family: cursive;
    background-color: rgb(0, 0, 0);
}
#titre{
    text-align: center;
}
h1{
    font-size: 30px;
    text-align:center;
    color: #ffffff;
    font-family: cursive;
}
table{
    margin-left: 14%;
}
h3{
    color: #ffffff;
}
h3:hover{
    color: rgb(255, 153, 0);
    cursor: cell;
}
img{
    margin-left: 5%;
}
#titre{
    text-decoration: underline;
}
#doc_nom{
    text-decoration: underline;
}
#createur{
    font-family: cursive;
    color: #ffffff;
    font-size: 10px;
    margin-bottom: 20px;
    margin-top: 10%;
    margin-left: 77%;
    margin-right: 10px;
}
#nom_region{
    font-size: 20px;
    background: transparent;
    border: none;
    outline:none;
    position: absolute;
    top: 30%;
    margin-left: 65%;
    color: #ffffff;
}
#boutona{
    color: #ffffff;
    margin-top: 610px;
    display: inline-block;
    background-color: #0004ffc9;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: cell;
    margin: 5px;
    margin-left: 10%;
    font-family: cursive;
}

#boutona:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(2, 175, 255);
}

#boutonb{
    color: #ffffff;
    display: inline-block;
    background-color: rgba(216, 56, 56, 0.685);
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: cell;
    margin: 5px;
    font-family: cursive;
}

#boutonb:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 50, 50);
}

#boutonc{
    display: inline-block;
    background-color: #fbff00cc;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: cell;
    margin: 5px;
    font-family: cursive;
}

#boutonc:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(253, 249, 0);
}
#boutond{
    display: inline-block;
    background-color: #ffa60098;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: cell;
    margin: 5px;
    font-family: cursive;
}

#boutond:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 167, 52);
}
#boutone{
    display: inline-block;
    background-color: #66ff0094;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: cell;
    margin: 5px;
    font-family: cursive;
}

#boutone:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(94, 255, 0);
}
#boutonf{
    display: inline-block;
    background-color: #f700ff75;
    border-radius: 10px;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: cell;
    margin: 5px;
    font-family: cursive;
}

#boutonf:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 234);
}
#retour{
    font-size: 20px;
    color: black;
    background-color: white;
    border-radius: 15px;
    outline:none;
    position: absolute;
    top: 1%;
    left: 1%;
    cursor: cell;
    font-family: cursive;
}

#retour:hover{
    color: rgb(255, 255, 255);
    background-color: black;
}
#image{
    margin-left: 450px;
}
